*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

.restaurant-card-image {
  position: relative;
  filter: brightness(0.8);
}

.restaurant-card-title {
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}

.test .visual {
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.test:hover .visual {
  transform: scale(2);
}

.highlight {
  background-color: rgba(166, 30, 77, 1);
}

.menu-highlight {
  background-color: rgba(166, 30, 77, 0.3);
}

.schedule-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
